body, html {
    height: 100%;
    width: 100%;
    background-color: #122b40;
}

.hello{
    color: white;
    margin: auto;
    width: 50%;
    margin-top: 20%;
    font-size: larger;
}


@media  (max-width:760px) {
    .hello{
        margin-top: 40%;
    }
}