

body, html {
    height: 100%;
    width: 100%;
    background-color: #122b40;
    overflow: auto;
}

.welcomeText{
    color: white;
    margin: 25% auto;
    width: 100%;
    height:auto;
    font-size: 2.5rem;
    display: none;
    animation-duration: 1.5s;
}

.entry{
    /*color: white;*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*left:-100%;*/
    /*height: 10%;*/
    /*background-color: burlywood;*/
    /*top:40%;*/
    /*transition: 0.3s;*/
    color: white;
    margin: 25% auto;
    width: 100%;
    height:auto;
    font-size: 2.5rem;
    display: none;
    animation-duration: 1.5s;
    transition: 1s;
}

.search-box{
    border: none;
    border-bottom: 0.5px solid white;
    background: transparent;
    width: 100%;
}

.entry span.search-icon{
    border: none;
    background: transparent;
    outline: none;
    font-size: 1.9rem;
    transition: 0.31s;
    margin-left: 5px;
    color: #ff8324;
    margin-top: 12px;
}

.entry span.search-icon:hover{
    cursor: pointer;
    font-size: 2.5rem;
    color: #ffb600;
}

.entry input:focus{
    outline:none;
    padding-left: 4px
}

#content{
    margin-top: 50px;
}

#content p{
    font-size: 1.6rem;
    color: darkgray;
}

#content a:hover{
    text-decoration: none;
}

#content .media{
    margin-top: 10px;
    background-color: rgba(255,65,45,0.2);
    padding: 10px;
    border-radius: 12px;
}

.pending{
    width:100%;
    margin: auto;
    display: none;
}

#img-wiki{
    width: 150px;
}

#toggle-lang{
    display: none;
    alignment: left;
}

.not-found{
    color: #a94442;
    font-size: 1.9rem;
    width: 80%;
    margin: auto;
}

.complater{
    margin-top: 20px;
    display:none;
}

.complater p.complated-sentence{
    font-size: 18px;
    margin: 2px;
}

.complater p.complated-sentence:hover{
    cursor: pointer;
    background-color: rgba(255,60,55,0.2);
}

.hover{
    background-color: rgba(255,60,55,0.2);
}


@media  (max-width:760px) {
    .welcomeText{
        font-size: 1.4rem;
    }

    #img-wiki{
        width: 100px;
        margin: auto;
    }

    .media-left{
        display: block;
        margin-bottom: 20px;
    }

    #content p{
        font-size: 1.2rem;
    }
}
